h1, p, a, h2, h3, h4, h5, strong, li, ul, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }
body {
    background: radial-gradient(23.09% 102.32% at 24.13% 80.28%, rgba(251, 202, 251, 0.25) 0%, rgba(243, 239, 246, 0.25) 51.56%, rgba(239, 228, 249, 0.25) 100%), radial-gradient(33.76% 100.17% at 94.72% 35.49%, rgba(190, 112, 255, 0.19) 43.75%, rgba(220, 178, 255, 0.08) 83.85%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), radial-gradient(38.82% 94.14% at 8.72% 24.82%, #64BEFF 43.23%, rgba(178, 223, 255, 0.26) 81.25%, rgba(255, 255, 255, 0.00) 100%);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    cursor: pointer;
}

.banner {
    background: url("../../assets/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1050px;
    margin-bottom: 80px;
}

h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    color: #1A0B5B;
}

main {
    text-align: center;

    .features {
        margin-top: 70px;

        .category-list {
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            max-width: 800px;

            a {
                color: #151875;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
                color: green;
            }

        }

        .item-list {
            display: flex;
            max-width: 1200px;
            justify-content: space-evenly;
            margin: 0 auto;
            flex-wrap: wrap;

            a {
                text-decoration: none;
            }

            .item {
                overflow: hidden;
                box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.18);
                align-items: flex-start;
                border-radius: 12px;
                justify-content: center;
                align-items: center;
                margin: 30px 10px;
                .image-container{
                    height: 248px;
                     width: 248px;
                }
                img {
                    align-self: stretch;
                    background-color: #FFF;
                    height: 248px;
                    // width: 248px;
                    justify-content: center;
                    align-items: center;
                }

                .card-detail {

                    padding: 17px 15px;
                    justify-content: center;
                    align-items: center;
                    flex: 1 0 0;
                    align-self: stretch;
                    background: #f3f3f3;

                    .name {
                        margin-top: 10px;
                        color: black;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        text-align: left;
                        margin-bottom: 5px;
                    }

                    .price {
                        color: #7B7B7B;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        text-align: left;
                    }
                }

                .image-container {
                    position: relative;
                    display: inline-block;

                    .sold-out {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        background-color: rgba(204, 4, 4, 0.6);
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
            }

            .nothing {
                margin-top: 100px;
                color: black;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                text-align: left;
            }
        }

        .load-more {
            width: 164px;
            height: 65px;
            border-radius: 18px;
            border: 1px solid #4E4AF2;
            background-color: #6B68FC;
            color: white;
            font-size: 16px;
            margin-top: 50px;
            cursor: pointer;
        }
    }

    margin-bottom: 100px;
}

footer {
    height: 335px;
    background: var(--g-1, linear-gradient(42deg, #F4E8F3 0%, #F3EFF6 51.04%, #EEE0F9 100%));
    justify-content: center;
    display: flex;
}